<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="miExperienciaServicio" class="org.example.dependencies.PocaExperienciaServicio">
    </bean>

    <bean id="entrenadorF" class="org.example.EntrenadorFutbol">
        <!-- Inyeccion por constructor -->
        <constructor-arg ref="miExperienciaServicio"></constructor-arg>

    </bean>
    <bean id="entrenadorT" class="org.example.EntrenadorTenis">
        <property name="email" value="correodeprueba@mail.com"></property>
        <property name="equipo" value="Mean Machine"></property>
    </bean>

    <bean id="entrenadorB" class="org.example.EntrenadorBaloncesto">
        <!-- se establece qué bean se inyecta (miExperienciaServicio) y sobre qué método
        setter (setExperienciaServicio) -->
        <property name="experienciaServicio" ref="miExperienciaServicio" />
    </bean>


</beans>